<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172751988-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172751988-1');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Igor Almeida">
  <meta name="author" content="">
  <title>Gabriel Almeida - Brazilian Jiu Jitsu</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="images/g.ico">
</head>

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
   <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" "img-responsive" style="background-image: url(images/1.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><font color=#E5E5E5 face="Montserrat">Gabriel Almeida</font></h1>
          </div>
        </div>
        </div>
      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><img class="img-responsive" src="images/sponsor/g.png" width="100">
          <a class="navbar-brand" href="index.html">
			  
			  
            <h1><img class="img-responsive" src="images/sponsor/e.png" width="200" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#services">Sponsors</a></li> 
            <li class="scroll"><a href="#about-us">About</a></li>                     
            <li class="scroll"><a href="#portfolio">Main Achievements</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>       
          </ul>
        </div>
      </div>
    </div>
  </header>
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2"><br><br><br>
			  <h2><b>Sponsors</b></h2>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
				<img src="images/sponsor/11111.png" width="85%">
            </div>
            <div class="service-info">
              <h3><a href="https://www.keikosports.com.br/" target="_blank"><font color="black"><b>Keiko Sports</b></font></a></h3>
              <p>The Best Wear Keiko ...
				  <br>
				  @keiko_sports</p>
				<br>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <img src="images/sponsor/b.png" width="85%" >
            </div>
            <div class="service-info">
              <h3><a href="https://www.bjjtees.com/" target="_blank"><font color="black"><b>Just Roll</b></font></a></h3>
              <p>Surf | Skate | Jiu Jitsu <br> Snowboard | Lifestyle | #justroll <br> @justrollbrand</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon" >
              <img src="images/sponsor/h.png" width="85%" >
            </div>
            <div class="service-info">
              <h3><a href="https://musclehammer.fit/" target="_blank"><font color="black"><b>Muscle Hammer Massagers</b></font></a></h3>
              <p>We're all about good vibes and helping<br> athletes maintain their bodies! <!--<br> Sports Consulting--><br> @musclehammertime</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <img src="images/sponsor/o.png" width="85%" >
            </div>
            <div class="service-info">
              <h3><a href="https://www.instagram.com/heltonnutricionista/" target="_blank"><font color="black"><b>Helton Finocchio Nutritionist</b></font></a></h3>
              <p>Nutrition: Functional - Sports - Human Performance & Longevity.
				  Integrated Clinical Nutrition, Cardiology and Endocrinology.<br>
				  @heltonnutricionista</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <img src="images/sponsor/l.png" width="85%" >
            </div>
            <div class="service-info">
              <h3><a href="https://www.instagram.com/alohablacktrunkbjj/" target="_blank"><font color="black"><b>Aloha Black Trunk</b></font></a></h3>
              <p>Where the dream doesn't end.<br>@alohablacktrunkbjj</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <img src="images/sponsor/m.png" width="85%" >
            </div>
            <div class="service-info">
              <h3><a href="https://www.checkmatbjj.com/" target="_blank"><font color="black"><b>CheckMat Headquarters</b></font></a></h3>
              <p>Checkmat is focused on inspiring a healthy and positive individual who goes on to create a healthy and positive community. Together, we are Checkmat.<br>@checkmathq</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-8 col-md-offset-2">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><br><br>
			  <center><h2><b>About</b></h2>
            <p>Gabriel Almeida is a Brazilian jiu-jitsu black belt under Ricardo and Leonardo Vieira, having also worked extensively with Eduardo Flexa, while being a representative of the Checkmat team in the sport’s international circuit. Almeida earned the reputation of being one of the top competitors of his generation by conquering medals in important events such as the International Brazilian Jiu-Jitsu Federation (IBJJF) World, Pans and European Championships as well as United Arab Emirates Jiu-Jitsu Federation (UAEJJF) Abu Dhabi Pro.</p></center>
				  </div>
		  </div>
</div>
    </div>
  </section>

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
			<h2><b>Main Achievements</b></h2>
          </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/1.1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
					  <h3><font size="3">1st Place ADCC São Paulo Trials<br>(2019)</font></h3>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/2a.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
					  <h3><font size="3">2nd Place IBJJF European Open Championship<br>(2019)</font></h3>
                  
                  </div>
                  <div class="folio-overview">
                    
                    <span class="folio-expand"><a href="images/portfolio/2.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/3.3.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
					  <h3><font size="3">1st Place IBJJF New York Fall Open <br>(2018)</font></h3>
                    
                  </div>
                  <div class="folio-overview">
                    
                    <span class="folio-expand"><a href="images/portfolio/3.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/5a.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3><font size="3">1st Place SJJIF World Championship<br>(2019)</font></h3>
                    
                  </div>
                  <div class="folio-overview">
                   
                    <span class="folio-expand"><a href="images/portfolio/5.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/1.1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
					  <h3><font size="3">1st Place ADCC São Paulo Trials<br>(2019)</font></h3>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/1.1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
					  <h3><font size="3">1st Place ADCC São Paulo Trials<br>(2019)</font></h3>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/1.1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
					  <h3><font size="3">1st Place ADCC São Paulo Trials<br>(2019)</font></h3>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
          <div class="folio-image"> </div>
</div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="folio-image"> </div>
</div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image"> </div>
            <div class="overlay">
              <div class="overlay-content"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div>
  </section>
 <!-- <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
			</div>
      </div>
  </section>-->
  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
			  <h2><b>Contact</b></h2>
			</div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input style="font-weight: bold" type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input style="font-weight: bold" type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input style="font-weight: bold" type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea style="font-weight: bold;" name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit" href="mailto:ialmeidafotos@gmail.com">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <ul class="address">
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +1 715 697 8014  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:gabriel_smuniz@hormail.com"> gabriel_smuniz@hotmail.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Bio:</span> <a href="https://www.bjjheroes.com/bjj-fighters/gabriel-almeida" target="_blank">BJJ Heroes.com</a></li>
				<li><i class="fa fa-instagram"></i> <span> Website By:</span> <a href="https://www.instagram.com/flwdev/" target="_blank">Flow Developers</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section>
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/sponsor/e.png" width="100" alt="logo">
			</a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="mailto:gabriel_smuniz@hormail.com"><i class="fa fa-envelope"></i></a></li>
           
            <li><a class="facebook" href="https://www.facebook.com/almeidagabrieljj/" target="_blank"><i class="fa fa-facebook"></i></a></li>

            <li><a class="instagram" href="https://www.instagram.com/gabrielalmeidabjj/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>